body {
    color: rgb(95, 43, 0);
    background-image: linear-gradient(to bottom, rgb(212, 97, 39), rgb(248, 176, 128));
    padding: 15px;
}

.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    padding: 20px;

    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.tables {
    margin-bottom: 10px;
    padding-bottom: 50px;
    border-bottom: solid 6px rgb(255, 216, 183);
    border-width: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    font-size: 18px;
    margin-top: 0;
}

.first-table table {
    width: 100%; 
    text-align: center;
}

.first-table table th {
    background-color: rgb(247, 209, 55);
}

#honda,
#panasonic {
    background-color: rgb(255, 255, 147);
}

.form {
    
}

#nama,
#telepon,
#email,
#isi,
#area 
{
    background-color: rgb(210, 210, 210);
    display: block;
    width: 75%;
    border: none;
    padding: 10px;
}

#jform {
    text-align: center;
}